body {
    background-color: #bc8f8f;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: rgb(105, 80, 80);
    display: flex;
    justify-content: space-between;
}

p > a {
    color: black;
}

nav {
    align-self: center;
}

nav > ul {
    list-style: none;
}

li > a {
    color: black;
    text-decoration: none;
}