{% extends "base.html" %}

{% block content %}
<h2>Play against the computer</h2>

<form action="/play" method="post">
    <label for="name">Enter your name: </label>
    <input type="text" name="name">
    <br>
    <label for="hand">Choose your hand: </label>
    <select name="hand" multiple>
        <option value="rock">Rock</option>
        <option value="paper">Paper</option>
        <option value="scissors">Scissors</option>
    </select>
    <br>
    <input type="submit" value="Play">
</form>
{% endblock %}